<!--服务多选-->
<div class="title-tip-layout title-tip-color left-right margin-top-20"
     ng-class="serverfil.conData.length>0 ? 'show':'hide'">
    <p class="text-p" ng-show="serverfil.conData.length>0">
        <label class="tip-label">服务器 <i class="fa fa-hand-o-right"></i></label>
        <span ng-if="serverfil.conData==serverarg.inputId">全部</span>
            <span ng-if="serverfil.conData!=serverarg.inputId">
                <span ng-repeat="sen in serverfil.conData">{{sen.name}}</span>
            </span>
    </p>
</div>
<div class="form-inline form-div title-tip-layout panel-color left-right margin-top-20">
    <div class="chunk-head">
        <a href="" class="f-r tab-icon" data-toggle="tooltip" data-placement="left"
           title="{{setOverallTitle}}">
            <span class="fa fa-info-circle"></span>
        </a>
    </div>
    <div class="form-group margin-bottom-20">
        <label class="red-star">&nbsp;</label> 服务器：
        <filtrate-btn filparms="serverfil" nametip="nametip">
            <filtrate-pane>
                <server-popup popuparg="serverarg"></server-popup>
            </filtrate-pane>
        </filtrate-btn>
    </div>
</div>
<div ng-init="tipShow=false" class="alert padding-6 alert-danger alert-dismissible margin-top-20 left-right" ng-class=" tipShow ? 'fade in':'hide'" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong>温馨提示：</strong> {{warn}}！
</div>