<div class="margin-top-15" ng-controller="fmailCtrl">
    <div class="title-tip-layout title-tip-color left-right margin-top-20"
         ng-class="serverfil.conData.length>0||agentfil.conData.length>0 ? 'show':'hide'">
        <p class="text-p" ng-show="serverfil.conData.length>0">
            <label class="tip-label">服务器 <i class="fa fa-hand-o-right"></i></label>
            <span ng-if="serverfil.conData==serverarg.inputId">全部</span>
            <span ng-if="serverfil.conData!=serverarg.inputId">
                <span ng-repeat="sen in serverfil.conData">{{sen.name}}</span>
            </span>
        </p>
        <p class="text-p" ng-show="agentfil.conData.length>0">
            <label class="tip-label">渠道 <i class="fa fa-hand-o-right"></i></label>
            <span ng-if="agentfil.conData==agentarg.inputId">全部</span>
            <span ng-if="agentfil.conData!=agentarg.inputId">
            <span ng-repeat="agn in agentfil.conData">{{agn.name}}</span>
                </span>
        </p>
    </div>
    <div class="form-inline form-div title-tip-layout panel-color left-right margin-top-20">
        <div class="chunk-head">
            <a href="" class="f-r tab-icon" data-toggle="tooltip" data-placement="left"
               title="{{setOverallTitle}}">
                <span class="fa fa-info-circle"></span>
            </a>
        </div>
        <div class="form-group margin-bottom-20">
            <label class="red-star">&nbsp;</label> 服务器：
            <filtrate-btn filparms="serverfil" nametip="nametip">
                <filtrate-pane>
                    <server-popup popuparg="serverarg"></server-popup>
                </filtrate-pane>
            </filtrate-btn>
        </div>
        <div class="form-group margin-bottom-20">
            <label class="red-star">&nbsp;</label>渠道：
            <filtrate-btn filparms="agentfil" nametip="nametip">
                <filtrate-pane>
                    <server-popup popuparg="agentarg"></server-popup>
                </filtrate-pane>
            </filtrate-btn>
        </div>
    </div>
    <div class="purple-tabs left-right margin-top-20">
        <my-tabs tabdivresize="resettable()">
            <my-pane title-name="新增首登邮件">
                <ul class="step row">
                    <li id="editFirstMail" ng-class="stepObj.iseditFirstMail?'active':'';" class="step-item col-md-6">
                        <span><i class="badge">1</i> 编写首登邮件</span>
                    </li>
                    <li id="accessory" ng-class="stepObj.isAccessory?'active':'';" class="step-item col-md-6 no-bg-img">
                        <span><i class="badge">2</i> 附件管理</span>
                    </li>
                </ul>
                <div class="step-content">
                  <div ng-show="stepObj.stepCurrent=='editFirstMail'">
                      <form class="form-inline form-div hide-select2-close" novalidate>
                          <div class="form-group width-pencent-100 margin-bottom-12">
                              <label class="red-star">*</label> 邮件名称：
                              <input type="text" class="form-control no-bg-color width-321" placeholder="请输入邮件名称">
                          </div>
                          <div class="form-group width-pencent-100 margin-bottom-12">
                              <label class="red-star">*</label> 生效时间：
                              <input type="text" maxlength="4" ng-model="takeeffyear" onkeyup="utils.clearNoNum(this,'y')"
                                     class="form-control no-bg-color width-60"
                                     placeholder="年" required> -
                              <input type="text" maxlength="2" ng-model="takeeffmonth" onkeyup="utils.clearNoNum(this,'m')"
                                     class="form-control no-bg-color width-45"
                                     placeholder="月" required> -
                              <input type="text" maxlength="2" ng-model="takeeffday" onkeyup="utils.clearNoNum(this,'d')"
                                     class="form-control no-bg-color width-45"
                                     placeholder="日" required>
                              <input type="text" maxlength="2" ng-model="takeeffhour" onkeyup="utils.clearNoNum(this,'h')"
                                     class="form-control no-bg-color width-45 margin-left-5"
                                     placeholder="时" required> :
                              <input type="text" maxlength="2" ng-model="takeeffminute" onkeyup="utils.clearNoNum(this,'mi')"
                                     class="form-control no-bg-color width-45"
                                     placeholder="分" required>
                          </div>
                          <div class="form-group width-pencent-100 margin-bottom-12">
                              <label class="red-star">*</label> 失效时间：
                              <input type="text" maxlength="4" ng-model="loseeffyear" onkeyup="utils.clearNoNum(this,'y')"
                                     class="form-control no-bg-color width-60"
                                     placeholder="年" required> -
                              <input type="text" maxlength="2" ng-model="loseeffmonth" onkeyup="utils.clearNoNum(this,'m')"
                                     class="form-control no-bg-color width-45"
                                     placeholder="月" required> -
                              <input type="text" maxlength="2" ng-model="loseeffday" onkeyup="utils.clearNoNum(this,'d')"
                                     class="form-control no-bg-color width-45"
                                     placeholder="日" required>
                              <input type="text" maxlength="2" ng-model="loseeffhour" onkeyup="utils.clearNoNum(this,'h')"
                                     class="form-control no-bg-color width-45 margin-left-5"
                                     placeholder="时" required> :
                              <input type="text" maxlength="2" ng-model="loseeffminute" onkeyup="utils.clearNoNum(this,'mi')"
                                     class="form-control no-bg-color width-45"
                                     placeholder="分" required>
                          </div>
                          <label class="red-star">*</label> 邮件内容：
                          <div class="width-pencent-100 padding-left-75">
                              <textarea class="textarea no-bg-color " rows="5"></textarea>
                          </div>
                          </form>
                      <button type="button" ng-click="stepObj.stepCurrent='accessory';setStepActive();" class="btn btn-green margin-left-101 margin-top-20">
                          保存并且下一步
                      </button>
                      <button type="button" class="btn btn-green-no margin-left-19 margin-top-20">
                          取消
                      </button>
                  </div>
                    <div ng-show="stepObj.stepCurrent=='accessory'">
                        <!-------------------------------------------附件/网址开始------------------------------>
                        <form class="form-inline form-div hide-select2-close" novalidate>
                            <link rel="import" href="../../partial/accessoryOrWebaddress/accessoryOrWebaddress.html?__inline"/>
                            <div ng-if="accechecked" class="accemanpadding m-t-15" ng-controller="acceTableCtrl as showCase">
                                <label class="position-re sign-position color-purple">附件列表</label>
                                <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns"
                                       dt-instance="showCase.dtInstance"
                                       class="table-striped dataTable table-bordered padding-15"></table>
                            </div>
                        </form>
                        <!--------------------------------------附件/网址结束------------------------------------>
                        <br/>
                        <button type="button" class="btn btn-green margin-left-101 margin-top-20">
                            保存
                        </button>
                        <button type="button" ng-click="stepObj.stepCurrent='editFirstMail';setStepActive();" class="btn btn-green-no margin-left-19 margin-top-20">
                            返回上一步
                        </button>
                    </div>
                </div>
            </my-pane>
            <my-pane title-name="首登邮件列表">

                <div class="chunk-bottom">
                    <div class="chunk-btn">
                        <button type="button" class="btn purple-btn btn-padding f-l all-btn"
                                ng-click="checkfmailTableAll(true)">
                            全选
                        </button>
                        <button type="button" class="btn purple-btn btn-padding f-l no-all-btn margin-right-20"
                                ng-click="checkfmailTableAll(false)">
                            取消
                        </button>
                        <div class="chunk-btn-left f-l">
                            <btn-popup btnquery="querynotice()"
                                       popparms="querypop">
                                <popup-pane>
                                    <form class="form-inline form-div" novalidate>
                                        <div class="form-group margin-left-19 white-plugin">
                                            <span class="f-l"><label class="red-star">&nbsp;</label>时间：&nbsp;</span>
                                            <date-button datename="querydate" single-date="false" class="f-r text-top-align"></date-button>
                                        </div>
                                    </form>
                                </popup-pane>
                            </btn-popup>
                        </div>
                        <div class="chunk-btn-right f-r">
                            <button type="button" ng-click="deleteSelected()" class="btn btn-yellow margin-right-20">
                                <i class="fa fa-trash-o"></i> 批量删除
                            </button>
                        </div>
                        <div class="margin-top-50" ng-controller="firstmailTableCtrl as showCase">
                            <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns"
                                   dt-instance="showCase.dtInstance" style="min-width: 1300px;"
                                   class="table-striped dataTable armyhover table-bordered padding-15"></table>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            </my-pane>
        </my-tabs>
        </div>
    <!-- Modal -->
    <modal-dialog modalparams="modalparams" modalconfirm="modalConfirm()">
        <modal-pane>
            <div class="form-inline form-div">
                <div class="form-group width-pencent-100">
                    目标服务器：<span class="query-span">超能S1服</span>
                </div>
                <div class="form-group width-pencent-100">
                    目标渠道：<span class="query-span">酷派</span>
                </div>
                <div class="form-group width-pencent-100">
                    邮件名称：<span class="query-span">这是邮件的名称</span>
                </div>
                <div class="form-group">
                    生效时间：<span class="query-span">2015-11-24 22:22:22</span>
                </div>
                <div class="form-group margin-left-35">
                   失效时间：<span class="query-span">2015-12-01 22:22:22</span>
                </div>
                <div class="form-group width-pencent-100">
                    邮件内容：<span class="query-span">这是邮件的内容</span>
                </div>
                <!-- 网址信息-->
                <div class="form-group width-pencent-100">
                    网址信息：<span class="query-span">www.baidu.com</span>、<span class="query-span">www.baidu.com</span>
                </div>
                <!-- 附件信息-->
                <div class="m-t-15" ng-controller="oneFmAcceTableCtrl as showCase">
                    <label class="position-re sign-position">附件信息</label>
                    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns"
                           dt-instance="showCase.dtInstance"
                           class="table-striped dataTable table-bordered padding-15"></table>
                </div>
            </div>
        </modal-pane>
    </modal-dialog>
</div>
