<div class="margin-top-15" ng-controller="loginNoticeCtrl">
    <!--服务器 start-->
    <link rel="import" href="../../partial/server/server.html?__inline"/>
    <!--服务器 end-->
    <div class="purple-tabs left-right margin-top-20">
        <my-tabs tabdivresize="resettable()">
            <my-pane title-name="定时登录公告列表">
                <br/>
                <button type="button" class="btn purple-btn btn-padding f-l all-btn"
                        ng-click="checktimeTableAll(true)">
                    全选
                </button>
                <button type="button" class="btn purple-btn btn-padding f-l no-all-btn margin-right-20"
                        ng-click="checktimeTableAll(false)">
                    取消
                </button>
                <div class="chunk-btn-left f-l">
                    <btn-popup btnquery="querytime()"
                               popparms="querypop">
                        <popup-pane>
                            <form class="form-inline form-div" novalidate>
                                <div class="form-group margin-left-19 white-plugin">
                                    <span class="f-l"><label class="red-star">&nbsp;</label>时间：&nbsp;</span>
                                    <date-button datename="querytidate" single-date="false" class="f-r text-top-align"></date-button>
                                </div>
                            </form>
                        </popup-pane>
                    </btn-popup>
                </div>
                <div class="chunk-btn-right f-r">
                    <btn-popup btnquery="addnotice()"
                               popparms="addpop">
                        <popup-pane>
                            <form class="form-inline form-div p-l-form" novalidate>
                                <div class="form-group width-pencent-100">
                                    <label class="red-star">*</label>公告名称：
                                    <input type="text" class="form-control border back-white width-600" placeholder="请输入公告名称" required>
                                </div>
                                <br/>
                                <div class="form-group width-pencent-100">
                                    <label class="red-star">*</label>公告内容：
                                    <textarea placeholder="请输入内容" class="textarea back-white width-600 text-top-align" rows="5"></textarea>
                                </div>
                                <div class="form-group margin-left-7 white-plugin">
                                    <span class="f-l"> <label class="red-star">&nbsp;</label>公告时间：</span>
                                    <date-button datename="adddate" single-date="false" class="f-r text-top-align" required></date-button>
                                </div>
                            </form>
                        </popup-pane>
                    </btn-popup>
                    <button type="button" ng-click="timeLogindeteSelected()" class="btn btn-yellow margin-right-20">
                        <i class="fa fa-trash-o"></i> 批量删除
                    </button>
                </div>
                <div class="margin-top-50" ng-controller="timeLoginTableCtrl as showCase">
                    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns"
                           dt-instance="showCase.dtInstance" style="min-width: 1180px;"
                           class="table-striped dataTable armyhover table-bordered padding-15"></table>
                </div>
            </my-pane>
            <my-pane title-name="服务器公告列表">
                <br/>
                <button type="button" class="btn purple-btn btn-padding f-l all-btn"
                        ng-click="checkserverTableAll(true)">
                    全选
                </button>
                <button type="button" class="btn purple-btn btn-padding f-l no-all-btn margin-right-20"
                        ng-click="checkserverTableAll(false)">
                    取消
                </button>
                <div class="chunk-btn-left f-l">
                    <btn-popup btnquery="queryserver()"
                               popparms="querypoptwo">
                        <popup-pane>
                            <form class="form-inline form-div" novalidate>
                                <div class="form-group margin-left-19 white-plugin">
                                    <span class="f-l"><label class="red-star">&nbsp;</label>时间：&nbsp;</span>
                                    <date-button datename="queryserdate" single-date="false" class="f-r text-top-align"></date-button>
                                </div>
                            </form>
                        </popup-pane>
                    </btn-popup>
                </div>
                <div class="chunk-btn-right f-r">
                    <button type="button" ng-click="serverdeteSelected()" class="btn btn-yellow margin-right-20">
                        <i class="fa fa-trash-o"></i> 批量删除
                    </button>
                </div>
                <div class="margin-top-50" ng-controller="serverNoticeTableCtrl as showCase">
                    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns"
                           dt-instance="showCase.dtInstance" style="min-width: 1010px;"
                           class="table-striped dataTable armyhover table-bordered padding-15"></table>
                </div>
            </my-pane>
        </my-tabs>
    </div>
    <!-- Modal -->
    <modal-dialog modalparams="modalparams" modalconfirm="modalConfirm()">
         <modal-pane>
             <form class="form-inline form-div" novalidate>
                 <div class="form-group width-pencent-100">
                     <label class="red-star" ng-if="isCopy">*</label>目标服务器：
                     <input type="text" ng-if="isCopy" class="form-control border back-white width-455" placeholder="请将输入的服务器名以英文,隔开">
                     <span ng-if="!isCopy" class="query-span">超能T1服</span>
                 </div>
                 <div class="form-group margin-left-14 width-pencent-100">
                     <label class="red-star" ng-if="isCopy">*</label>公告名称：
                     <input type="text" ng-if="isCopy" class="form-control border back-white width-455" placeholder="请输入公告名称">
                     <span ng-if="!isCopy"class="query-span">七天登录-1</span>
                 </div>
                 <div class="form-group margin-left-14 width-pencent-100">
                     <label class="red-star" ng-if="isCopy">*</label>公告内容:
                     <textarea ng-if="isCopy" class="textarea back-white width-455 margin-left-7 text-top-align" rows="5"></textarea>
                     <span ng-if="!isCopy" class="query-span content-span">【七天登陆】登陆就送[火之舞，八岐炎]两位强力英雄，还有海量钻石道具，登陆就送哟！</span>
                 </div>
                 <div class="form-group margin-left-14 white-plugin">
                     <span class="f-l"> <label class="red-star" ng-if="isCopy">&nbsp;</label>公告时间:</span>
                     <date-button ng-if="isCopy" datename="copydate" single-date="false" class="f-r text-top-align margin-left-14" required></date-button>
                     <span ng-if="!isCopy" class="query-span">&nbsp;2015-11-24 ~ 2015-12-01</span>
                 </div>
             </form>
        </modal-pane>
    </modal-dialog>
</div>